.done input[type="checkbox"]:checked {
    display: none;
}
.doneforyesterday input[type="checkbox"]:checked {
    display: none;
}

/* .done input[type="checkbox"] {

} */
.yesterdaydone::before {
   display: flex;
    width: 300px;
    margin-left: -20px;
    margin-top: 30px;
    top: 30px;
    content: "Forgot to check yesterday?";
    font-size: 7px;
    
         }

    :root {
        --primary: #40bdea;
        --business: #ebb82c;
        --personal: var(--primary);
        --light: #EEE;
        --grey: #888;
        --dark: #313154;
        --danger: #ff5b57;
    
        --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
        --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
        --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
    }

body {
    background-color: rgb(242, 196, 247);
}
section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
    color: rgba(78, 198, 31, 0.61);
    font-size: 2.4rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
    margin-left: 2.5rem;
}
h4 {
    color: rgba(29, 134, 150, 0.866);
    font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
h1 {
    color: rgba(15, 171, 132, 0.414);
    margin-left: 0.1rem;
	flex: 1 1 0%;
	min-width: 0;
    
}
.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(15, 171, 132, 0.414);
	padding: 1.5rem;
	box-shadow: var(--shadow);
	/* border-radius: 0.5rem; */
	cursor: pointer;
}
/* .bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
} */

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}
.geronimo {

    position: relative;
    left: 40%;
	width: 20%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: rgb(89, 0, 73);
	font-weight: 700;
	text-transform: uppercase;
	background-color: rgba(80, 255, 255, 0.508);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}
.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: rgba(225, 61, 214, 0.352);
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: rgb(85, 0, 131);
	font-size: 1.125rem;
}
@media screen and (max-width: 1080px) {
    .todo-item .todo-content input {
        color: rgb(85, 0, 131);
        font-size: .725rem;
    }
    
}

.todo-item .actions {
	display: flex;
	align-items: center;
}
.todo-item .actions button {
    border-radius: 1.5rem;
	display: block;
	padding: 0.5rem;
	
	color: rgb(173, 0, 139);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1080px) {
    
    .todo-item .actions button {
        border-radius: 1.5rem;
        display: block;
        padding: 0.2rem;
        display: inline-block;
        color: rgb(173, 0, 139);
        cursor: pointer;
        transition: 0.2s ease-in-out;
}}
.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
    border-radius: 1.5rem;
	background-color: var(--primary);
}

.todo-item .actions .delete {
    border-radius: 1.5rem;
	background-color: var(--danger);
}

.todo-item.done .todo-content input {
    border-radius: 1.5rem;
	text-decoration: line-through;
	color: rgb(206, 0, 86);
}

.days {
    border-radius: 1.5rem;
	background-color: rgba(0, 213, 255, 0.355);

}

.completion {
    text-align: center;
    font-size: larger;
    color: #f4197c;
    background-color: #20866ecf;
    border-radius: 3.5rem;
}
.timesdoneclass {
	background-color: rgba(0, 213, 255, 0.355);
	border-radius: 1.5rem;
	color: #f4197c;
	font-size: .725rem;
	width: 18%;
}
